@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=IBM+Plex+Sans+KR:wght@300;600;700&family=Noto+Sans+KR:wght@700&display=swap');

.how-do-container{
    background-color: white;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  color: black;
   margin-top: 50px; 
   
}
 @media (max-width: 900px){
  .how-do-container{
    margin-top: 10px; 
  }
}
.how-do-title{
    font-weight: bold;
    position:absolute;
  top: 630px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-family: 'IBM Plex Sans KR', sans-serif;

}
.monitor-img{
    margin-top: 30px;
    margin-bottom: 20px;
    width: 50%;
    height: auto;
    position: relative;
    top: 30px;
    transform: translateX(-50%);
    z-index: 1;
    left: 25%;
    
    /*background-image: url("../image/Index_TV.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size:contain;*/
    /*background-position: center center;*/
    /*position: relative;/*/
}@media (min-width: 1200px) {
  monitor-img{
    margin-bottom: 10px;
    width: 70%;
    height: auto;
    position: relative;
    top: 3000px;}
}
.do-subtitle{
  position:absolute;
  top: 710px;
  transform: translateX(-50%);
  z-index: 1;
  font-family: 'IBM Plex Sans KR', sans-serif;

  transition: top 0.3s ease-in-out;
}@media(max-width: 1500px){
  .do-subtitle{
    top: 760px;
  }
}
.skill-array{
  font-family: 'IBM Plex Sans KR', sans-serif;

}

.skill-image {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  .skill-image.show {
    opacity: 1;
  }
/*  */