@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=IBM+Plex+Sans+KR:wght@300;600;700&family=Noto+Sans+KR:wght@700&display=swap');

.how-do-container{
  background-color: white;
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  color: black;
  font-family: 'IBM Plex Sans KR', sans-serif;  
}


 @media (max-width: 900px){
  .how-do-container{
    margin-top: 10px; 
  }
}

.head-line{
  font-weight: bolder;
}


.monitor-img{
  height: 550px;
  width: auto;
  z-index: 0;
}
.selected-image{
  width: auto;
  height: 250px;
  position: absolute;
  top: 1030px;
  left: 50%;
  z-index: 1; /* 선택한 이미지가 IndexTVImage 위에 오도록 함*/
  transform: translate(-50%, -50%);
  opacity: 1;
}

.icon-btn{
  border: none;
  background-color: #fff;
  padding: 30px;
}

