.intro-container{
  background-color: rgb(107, 77, 108);
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.intro-words{
    padding-left: 30px;
    text-align: left;
}
.intro-title{
  color: rgb(121, 221, 126);
  font-size: 50px;
  font-weight: bold;

}
.intro-subtitles{
  color: white;
  font-size: 15px;
}