@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=IBM+Plex+Sans+KR:wght@300;600;700&family=Noto+Sans+KR:wght@700&display=swap');


.pricing-container{
    padding-top: 10px;
    background-color: rgb(114, 111, 111);
    height: 650px;
    font-family: 'IBM Plex Sans KR', sans-serif;

}
.content-title{
    font-weight: bolder;
    white-space:pre-wrap;
    font-size: 25px;
    color: #fff;
}
.content-part{
    justify-content: center;
    display: flex;

}

.content-box{
    background-color: #fff;
    margin: 10px;
    padding: 90px;
}
.main{
    color: rgb(71, 196, 154);
    font-weight: bolder;
}
.red-border {
    border: 2px solid red;
}