@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=IBM+Plex+Sans+KR:wght@300;600;700&family=Noto+Sans+KR:wght@700&display=swap');

.explan-container {
    background-color: black;
    height: 75px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    color: #fff;
    font-family: 'IBM Plex Sans KR', sans-serif;
    align-items: center;
    transition: all 0.5s ease;

  }
  .title{
    font-family: 'IBM Plex Sans KR', sans-serif;
    font-weight: bold;
    transition: all 0.5s ease;

  }
  .Exp{
    color: #fff;
    font-family: 'IBM Plex Sans KR', sans-serif;
    white-space:pre-wrap
  }