@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=IBM+Plex+Sans+KR:wght@300;600;700&family=Noto+Sans+KR:wght@700&display=swap');

.process-section {
  
  justify-content: center;
  position: relative;
}

.process-container {
  background-color: black;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  gap: 80px;
  padding-bottom: 100px;
}

.process-container > div {
  display: flex;
  flex-direction: column;
  align-items: column;
  cursor: pointer;
  transition: transform 0.3s;
}

.process-container > div:hover {
  transform: scale(1.1);
}

.circular-button {
  margin-top: 50px;
  border: 2px solid #fff;
  border-radius: 50%;
  background-color: #9c9999;
  width: 100px;
  height: 100px; /* 버튼의 높이를 100px로 설정합니다. */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  position: relative; /* 버튼의 위치를 상대적으로 설정합니다. */

}
.circular-button.selected {
  background-color: rgb(107, 77, 108);
}

.process-container > div.selected {
  color: #fff;
  transform: scale(1.2);
}
.title-words{
  font-family: 'IBM Plex Sans KR', sans-serif;
  color: #fff;
  font-size: 13px;
  line-height: 1.2;
  white-space: normal; /* 여러 줄을 허용합니다. */
  width: 200px;
  position: absolute; /* 타이틀의 위치를 절대적으로 설정합니다. */
  top: 110px; /* 버튼 아래로 30px 이동시킵니다. */
  left: 50%; /* 가로 방향 중앙 정렬 */
  transform: translateX(-50%); /* 가로 방향으로 중앙 정렬 */
  text-align: center; /* 가운데 정렬을 위해 필요합니다. */
}

.process-container .dot-line {
  position: absolute;
  top: 50%;
  left: 100%;
  right: -70px;
  width: 140px;
  height: 1px;
  border: 1px dashed #fff;
}
.explanation-container {
  font-family: 'IBM Plex Sans KR', sans-serif;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  position: absolute; /* 설명 부분을 절대적으로 정렬 */
  top: calc(100% + 150px);
  left: 50%;
  width: 500px;
  transform: translate(-50%, -50%); /* 가로, 세로 방향으로 모두 중앙 정렬 */
  background-color: rgba(228, 220, 220, 0.8); /* 배경 색상 추가 */
  padding: 15px; /* 내용과의 간격을 위해 패딩 추가 */
  border-radius: 5px; /* 모서리 둥글게 처리 */
  z-index: 1;

}
.another{
  color: #fff;
}
@media (max-width: 900px) {
  .process-container {
    padding-top: 30px;
    flex-direction: column; /* 버튼들을 세로로 정렬 */
    gap: 80px; /* 버튼 사이의 간격을 줄임 */
  }
  
  .process-container > div {
    align-items: center; /* 가운데 정렬 */
  }
  
  .circular-button {
    width: 100px; /* 버튼 너비 늘림 */
    height: 100px; /* 버튼 높이 늘림 */
    margin: 0 auto; /* 가운데 정렬 */
  }
}