@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&family=IBM+Plex+Sans+KR:wght@300;600;700&family=Noto+Sans+KR:wght@700&display=swap');


.review-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 350px;
    background-color: black;
    color: white;
    overflow: hidden; /* 슬라이드 내용을 넘어가는 부분을 숨김 */
    position: relative;
}
.slide {
    display: none;
    text-align: center;
    opacity: 0;
    position: absolute; /* 절대 위치로 슬라이드를 겹쳐서 표시 */
    transition: opacity 0.5s ease-in-out;
  }
  .slide.active {
    display: block;
    opacity: 1;
    z-index: 1; /* 활성 슬라이드를 다른 슬라이드 위로 표시 */

  }
  .icon {
    margin-bottom: 10px;
    margin-top: 20px;
  }
  
  .comment {
    font-size: 25px;
    margin-bottom: 10px;
    white-space: pre-line;
    font-family: 'IBM Plex Sans KR', sans-serif;

  }
  
  .from {
    font-size: 15px;
    font-family: 'IBM Plex Sans KR', sans-serif;

  }
  @media (max-width: 900px) {
    .comment {
        font-size: 15px;
    }
    .from  {
        font-size: 9px;
    }
  }


  /* 슬라이드 애니메이션 */
@keyframes slideIn {
    from {
      transform: translateX(100%);
    }
    to {
      transform: translateX(0);
    }
  }
  
  @keyframes slideOut {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
  .slide.enter {
    animation: slideIn 0.5s ease-in-out forwards;
  }
  
  .slide.leave {
    animation: slideOut 0.5s ease-in-out forwards;
  }