@import url('https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap');



.App {
  text-align: center;
}

.brand-text {
  height: 80px;
  display: flex;
  align-items: center;
  font-size: 35px;
  font-weight: bold;
  margin-right: 30px;
  transition: font-size 0.5s ease-in-out, margin 0.5s ease-in-out;
  }@media (max-width: 960px){
  .brand-text{
    font-size: 20px;
    margin-left: 30px;
    margin-right: 0px;

  }
}

.me-auto{
  position: absolute;
  right: 30px;
  transition: font-size 0.5s ease-in-out;
  }
  /*@media (max-width: 800px){
  .me-auto{
    font-size: 25px;
  }
}*/


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
